{% extends "layout.html" %}

{% block title %}New Paste{% endblock %}

{% block body %}

  <form action="" method=post>
      <p>Este sitio pretende ser un repositorio temporal disponible para compartir <em>snippets</em> poco sensibles.
      No garantizamos que la informaci&oacute;n sea permanente.
      <br><b>S&iacute;</b> garantizamos que la informaci&oacute;n ser&aacute; p&uacute;blica.</p>
    <p class=display_name>
        Usuario: <input name=display_name type="String" placeholder="" required autofocus>
    </p>
    <p class="menu">
        Lenguaje: <select name="languaje" id="Plain Text" method="GET" action="/" selected>
        {% for languaje in langs %}
        <option value= "{{ languaje }}" >{{ languaje.name }}</option>"
        {% endfor %}
        </select>
    </p>
    <div class=code><textarea name=code cols=80 rows=24>{{ parent.code }}</textarea></div>
    <p><input type=submit value="Paste">
  </form>
  <p><a href="/help">Ayuda</a></p>
{% endblock %}
