{% extends "layout.html" %}
{% block title %}Paste #{{ paste.id }}{% endblock %}
{% block body %}
  <dl>
    {% if paste.user %}
    <dt>Author: {{ paste.user.display_name }}
    {% endif %}
<!--
    <dt>Actions
    <dd>
      <a href="{{ url_for('new_paste', reply_to=paste.id) }}">Reply</a>
      {%- if g.user and paste.user == g.user -%}
      , <a href="{{ url_for('delete_paste', paste_id=paste.id) }}">Delete</a>
      {% endif %}
    {% if paste.parent_id %}
    <dt>In reply to
    <dd><a href="{{ url_for('show_paste', paste_id=paste.parent_id) }}">#{{ paste.parent_id }}</a>
    {% endif %}
    {% if paste.children %}
    <dt>Replies
    <dd>
      {% for child in paste.children -%}
        {%- if not loop.first %},{% endif %}
        <a href="{{ url_for('show_paste', paste_id=child.id) }}">#{{ child.id }}</a>
      {%- endfor %}
    {% endif %} -->
  </dl>
  <div class=display_name >Author: {{ paste.display_name }} on {{ paste.pub_date.strftime('%Y-%m-%d @ %H:%M') }} GMT </div>
  <pre><code class="{{ paste.languaje }}" >{{ paste.code }}</code></pre>
{% endblock %}
